*{margin: 0px;padding: 0px;}
.principal { 
    width: 100%;
    height: 100vh;}
.linha {
    width: 100%;
    height: 33.333%;
    display: flex;
    flex-direction: row;}
.square-blue{
    margin: 2px;
    width: 150px;
    height: 150px;    
    background-color: aquamarine;}
.square-yelow{
    margin: 2px;
    width: 33%;
    height: 33%;    
    background-color: rgb(242, 255, 127);}

.fx{display: flex;}
/*justify*/
.juitce {justify-items: center;}

.jucoce {justify-content: center;}
.jucosb{justify-content: space-between;}

.jusece {justify-self: center;}
.juseend {justify-self: end;}
/*align*/
.alcoce {align-content: space-between;}

.alitend{align-items: end;}
.alitstart{align-items: start;}
.alitce{align-items: center;}

.alseend{align-self: end;}
.alsestart{align-self: start;}
.alsece{align-self: center;}

/*flex*/
.fd{flex-direction: column;}
