*{margin: 0px;padding: 0px;}
.principal { 
    width: 100%;
    height: 100vh;}
.linha {
    width: 100%;
    height: 33.333%;
    display: flex;
    flex-direction: row;}
.square-blue{
    margin: 2px;
    width: 150px;
    height: 150px;    
    background-color: aquamarine;}
.square-yelow{
    margin: 2px;
    width: 33%;
    height: 33%;    
    background-color: rgb(242, 255, 127);}
.alitce {align-items: center;}
.alitend{align-items: end;}
.alitstart{align-items: start;}
.juco-spacebetwen{justify-content: space-between;}