*{margin: 0px;padding: 0px;}
.principal { 
    width: 100%;
    height: 100vh;}
.linha {
    width: 100%;
    height: 33.333%;
    display: flex;
    flex-direction: row;}
.square-blue{
    width: 150px;
    height: 150px;    
    background-color: aquamarine;}
.square-yelow{
    width: 50px;
    height: 50px;    
    background-color: rgb(242, 255, 127);}
.quartsquare{
    width: 100%;
    height: 50px;}
.fx{display: flex;}
/*justify*/
.juitce {justify-items: center;}

.jucoce {justify-content: center;}
.jucosb{justify-content: space-between;}
.jucoend{justify-content: end;}

.jusece {justify-self: center;}
.juseend {justify-self: end;}
/*align*/
.alcoce {align-content: space-between;}

.alitend{align-items: end;}
.alitstart{align-items: start;}
.alitce{align-items: center;}

.alseend{align-self: end;}
.alsestart{align-self: start;}
.alsece{align-self: center;}

/*flex*/
.fdc{flex-direction: column;}

.fww{flex-wrap: wrap;}
.fwwr{flex-wrap: wrap-reverse;}
